input {
  border: none;
  outline: none;
  background: var(--primary-bg-light-mode);
  min-height: 38px;
  height: 100%;
  min-width: 280px;
  max-width: 320px;
  margin: 0.5rem;
  padding: 0.25rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  &:active,
  :focus {
    background: var(--secondary-color-dark--hover) !important;
  }
}
label {
  margin: 0 0.5rem;
}
/*Browser STYLES*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background: var(--secondary-color-dark--hover) !important;
  -webkit-text-fill-color: var(--info-color);
  -webkit-box-shadow: 0 0 0px 1000px var(--secondary-color-dark--hover) inset;
  transition: background-color 5000s ease-in-out 0s;
}
/*Browser STYLES*/
